<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    <%= @user.full_name %>
      Your account has been deleted.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>